body{

	position: relative;
	background-image: url(chopping.jpg);
    background-repeat:no-repeat;
    background-size:100% 100vh;    
}

h1{
	text-align: center;
	font-family: "Bungee Shade"; font-size: 100px;
}

.button{

	display: inline-block;
	margin-left: 47%;
}


label {
   width: 45%;
   display: inline-block;
   text-align: right;
   padding: 15px;
   font-family: "Snippet"; font-size: 25px;
   font-weight: bold;
}